apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: operator
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-cert
          readOnly: true
      # When the Deployment is first created, this referenced secret's tls.crt and tls.key are initialized as empty files.
      # If deployed to OpenShift, the Operator Lifecycle Manager will inject certs prior to deploying the operator.
      # If deployed to any other Kubernetes distribution, the operator will inject its own certs via its embedded CFSSL server.
      volumes:
      - name: webhook-cert
        secret:
          defaultMode: 420
          secretName: gm-webhook-cert
          items:
          - key: tls.crt
            path: tls.crt
          - key: tls.key
            path: tls.key
