apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: system
  labels:
    name: gm-operator
spec:
  # serviceName: gm-operator
  selector:
    matchLabels:
      name: gm-operator
  replicas: 1
  template:
    metadata:
      labels:
        name: gm-operator
    spec:
      securityContext:
        runAsNonRoot: true
      imagePullSecrets:
      - name: gm-docker-secret
      containers:
      - command:
        - /app/operator
        image: docker.greymatter.io/development/gm-operator:latest
        imagePullPolicy: IfNotPresent
        name: operator
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 120
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 120
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 300Mi
          requests:
            cpu: 100m
            memory: 150Mi
      serviceAccountName: operator
      terminationGracePeriodSeconds: 10
